@model Obavijesti

@{
    ViewBag.Title = "Ažuriranje obavijesti";
}

<form asp-route-id="@Model.Id"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Naslov"></label>
        <div><span asp-validation-for="Naslov" class="text-danger" /></div>
        <input asp-for="Naslov" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdDionice"></label>
        <div><span asp-validation-for="IdDionice" class="text-danger"></span></div>
        <select class="form-control" asp-for="IdDionice" asp-items="ViewBag.Dionice">
            <option disabled selected value="">Odaberite dionicu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Opis"></label>
        <div><span asp-validation-for="Opis" class="text-danger" /></div>
        <input asp-for="Opis" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>

</form>

@section scripts {
    <partial name="IncludeValidation" />
}