@model RPPP_WebApp.ViewModels.ObavijestViewModel


@{
    ViewBag.Title = "Obavijesti";
}

<h2>Popis obavijesti</h2>
<a asp-action="Create">Unos nove obavijesti</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>



<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Naslov
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Dionica
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Vrijeme objave
                </a>
            </th>
        </tr>
    </thead>

 <tbody>
        @{
            var collapseId = "collapse";
            var num = 0;
        }
        @foreach (var obavijest in Model.Obavijesti)
        {
            collapseId = collapseId + num;
            num++;

                <tr>
                    <td class="text-left">
                            <a class="btn btn-sm" data-bs-toggle="collapse" data-bs-target=#@collapseId
                   role="button" aria-expanded="false" aria-controls=@collapseId
                   title="Opis obavijesti">
                            <i class="fas fa-plus"></i>
                        </a>

                        <a asp-action="Details"
                    asp-route-id="@obavijest.Id"
                    asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-sort="@Model.PagingInfo.Sort"
                    asp-route-ascending="@Model.PagingInfo.Ascending">
                        @obavijest.Naslov
                        </a>
                    </td>
                    <td class="text-left">@RPPP_WebApp.UtilClasses.Converters.GetDionicaName(obavijest.IdDioniceNavigation)</td>
                    <td class="text-left">@obavijest.VrijemeObjave</td>
                    <td class="btn-group">
                        <a asp-action="Edit"
                   asp-route-id="@obavijest.Id"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

                        <form asp-action="Delete" method="post"
                      asp-route-id="@obavijest.Id"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                            <input type="hidden" name="id" value="@obavijest.Id"/>
                            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>

                <tr class="collapse" id=@collapseId>
                    <td>
                        <b>Opis: </b>
                                <br />
                                <span>@obavijest.Opis</span>
                    </td>
                </tr>

            collapseId = "collapse";
        }
</tbody>
</table>
@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}