@model Dionice

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-left">
        @RPPP_WebApp.UtilClasses.Converters.GetDionicaName(Model)
    </td>
    <td class="text-left">
        @Model.DuljinaKm
    </td>
    <td>
        @Model.UlaznaPostajaNavigation.Ime
    </td>
    <td>
        @Model.IzlaznaPostajaNavigation.Ime
    </td>
    <td>
        <a class="btn btn-sm"
           hx-get="@Url.Action(nameof(AutocestaController.EditDionica), new { id = Model.Id })"
           title="Ažuriraj"><i class="fas fa-edit"></i></a>
    </td>
    <td>
        <button class="btn btn-sm btn-danger"
                hx-confirm="Obrisati dionicu?"
                hx-delete="@Url.Action(nameof(AutocestaController.DeleteDionica), new { id = Model.Id })"
                title="Obriši">
            <i class="fas fa-trash-alt"></i>
        </button>
    </td>
</tr>