@model ParkiralistaGospVozViewModel

@{
    ViewBag.Title = "Parkirališta gospodarskih vozila";
}

<a asp-action="Create">Unos novog parkirališta gospodarskih vozila</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">

</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] stupci = { "ID", "Stacionaža (u km)", "Naziv", "Dionica","Geografska dužina ulaza", "Geografska širina ulaza", 
                "Broj mjesta", "Cijena po satu", "Strana ulice ulaza"};

                for(int i = 1; i <= stupci.Length; i++){
                    <th>
                        <a asp-route-sort="@i"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                           @stupci[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parkiraliste in Model.parkiralista){
            <tr>
                <td class="text-left">@parkiraliste.ParkingId</td>
                <td class="text-left">@parkiraliste.Stacionaža</td>
                <td class="text-center">@parkiraliste.Naziv</td>
                <td class="text-center">@parkiraliste.Dionica.Trim()</td>
                <td class="text-center">@Model.koordinateKonverter(parkiraliste.GeoDuzinaUlaz)</td>
                <td class="text-center">@Model.koordinateKonverter(parkiraliste.GeoSirinaUlaz)</td>
                <td class="text-center">@parkiraliste.BrojMjesta</td>
                <td class="text-center">@(parkiraliste.CijenaPoSatu != null ? Model.cijenaKonverter(parkiraliste.CijenaPoSatu) : "-")</td>
                <td class="text-center">@parkiraliste.StranaCesteUlaz</td>
           


                <td>
                    <a asp-action="Edit"
                       asp-route-id="@parkiraliste.ParkingId"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
                </td>

                <td>
                    <form asp-action="Delete" method="post"
                          asp-route-id="@parkiraliste.ParkingId"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        
                          <input type="hidden" name="NaplatnaId" value="@parkiraliste.ParkingId"/>
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>


        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}