@model Dionice

@{string ulIme;}
@if (Model.UlaznaPostajaNavigation == null)
{
    ulIme = "";
}
else
{
    ulIme = Model.UlaznaPostajaNavigation.Ime;
}

@{string ilIme;}
@if (Model.IzlaznaPostajaNavigation == null)
{
    ilIme = "";
}
else
{
    ilIme = Model.IzlaznaPostajaNavigation.Ime;
}

<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-start">
        -
    </td>
    <td class="text-start">
        <input asp-for="DuljinaKm" class="form-control" />
    </td>
    <td class="text-start">
        <div class="form-group">
            <input class="form-control"
                data-autocomplete="naplatnaPostaja"
                data-autocomplete-placeholder-name="UlaznaPostaja"
                value="@ulIme"
            />
            <input type="hidden" asp-for="UlaznaPostaja" data-autocomplete-placeholder="UlaznaPostaja" />
        </div>
    </td>
    <td class="text-start">
        <div class="form-group">
            <input class="form-control"
                data-autocomplete="naplatnaPostaja"
                data-autocomplete-placeholder-name="IzlaznaPostaja"
                value="@ilIme" />
            <input type="hidden" asp-for="IzlaznaPostaja" data-autocomplete-placeholder="IzlaznaPostaja" />
        </div>
    </td>
    <td>
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <input type="hidden" asp-for="OznakaAutoceste" value="@Model.OznakaAutoceste"/>
        <button hx-include="closest tr"
                hx-post="@Url.Action(nameof(AutocestaController.EditDionica))"
                class="btn btn-sm btn-primary" title="Spremi">
            <i class="fas fa-save"></i>
        </button>
    </td>
    <td>
        <button class="btn btn-sm cancel"
                hx-get="@Url.Action(nameof(AutocestaController.GetDionice), new { id = Model.Id })"
                title="Odustani">
            <i class="fas fa-undo-alt"></i>
        </button>
    </td>
    <td>
        <div asp-validation-summary="All"></div>
    </td>
</tr>

<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script src="~/js/autocomplete.js" asp-append-version="true"></script>