@model EncpostajeViewModel

@{
    ViewBag.Title = "ENC postaje i prodajna mjesta";
}

<a asp-action="Create">Unos nove ENC postaje ili prodajnog mjesta</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-right">

</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] stupci = { "ID","Ime" ,"Vrijeme otvaranja", "Vrijeme zatvaranja", 
                "Kontakt", "Naplatna postaja", "Broj naplatne staze"};

                for (int i = 1; i <= stupci.Length; i++)
                {
                        <th>
                            <a asp-route-sort="@i"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                                @stupci[i - 1]
                            </a>
                        </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var postaja in Model.Encpostaje)
        {
            <tr>
                <td class="text-left">@postaja.Encid</td>
                <td class="text-left">@postaja.Ime</td>
                <td class="text-center">@postaja.VrijemeOtvaranja.ToString(@"hh\:mm")</td>
                <td class="text-center">@postaja.VrijemeZatvaranja.ToString(@"hh\:mm")</td>
                <td class="text-left">@postaja.KontaktBroj</td>
                <td class="text-left">@(postaja.Naplatna != null ? postaja.Naplatna : "-")</td>
                <td class="text-center">@(postaja.NaplatnaStaza != null ? postaja.NaplatnaStaza : "-")</td>
                



                <td>
                    <a asp-action="Edit"
                   asp-route-id="@postaja.Encid"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
                </td>

                <td>
                    <form asp-action="Delete" method="post"
                      asp-route-id="@postaja.Encid"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">

                        <input type="hidden" name="NaplatnaId" value="@postaja.Encid" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>


        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}