@model RPPP_WebApp.ViewModels.OdmoristeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Odmorište</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv
        </dt>
        <dd class = "col-sm-10">
            @Model.Naziv
        </dd>
        <dt class = "col-sm-2">
            Opis
        </dt>
        <dd class = "col-sm-10">
            @Model.Opis
        </dd>
        <dt class = "col-sm-2">
            Smjer
        </dt>
        <dd class = "col-sm-10">
            @Model.Smjer
        </dd>
        <dt class = "col-sm-2">
            NadmorskaVisina
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NadmorskaVisina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stacionaza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stacionaza)
        </dd>

        </dd>
        <dt class = "col-sm-2">
            Geografska širina
        </dt>
        @if (@Model.GeografskaSirina.HasValue)
        {
            <dd class="col-sm-10">
                @Model.konverterKoordinata(@Model.GeografskaSirina.Value)
            </dd>
        }
        else
        {
            <dd class="col-sm-10"></dd>
        }
        <dt class = "col-sm-2">
            Geografska dužina
        </dt>
        @if (@Model.GeografskaDuzina.HasValue)
        {
            <dd class="col-sm-10">
                @Model.konverterKoordinata(@Model.GeografskaDuzina.Value)
            </dd>
        }
        else
        {
            <dd class="col-sm-10"></dd>
        }
        <dt class = "col-sm-2">
            Dionica
        </dt>
        <dd class = "col-sm-10">
            @Model.DionicaNaziv
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a> |
    <a asp-action="Index"
       asp-route-page="@ViewBag.Page"
       asp-route-sort="@ViewBag.Sort"
       asp-route-ascending="@ViewBag.Ascending">Natrag na popis</a>
    
</div>
<hr />
<div>
    <h4>Sadržaji odmorišta</h4>
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Tip sadržaja
                </th>
                <th>
                    Geografska dužina
                </th>
                <th>
                    Geografska širina
                </th>
                <th>
                    Radno Vrijeme
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sadrzaj in Model.Sadrzaj)
            {
                <tr>
                    <td class="text-left">
                        @sadrzaj.Naziv
                    </td>
                    <td class="text-left">@sadrzaj.TipSadrzaja.Naziv</td>

                    @if (sadrzaj.GeografskaDuzina.HasValue)
                    {
                        <td class="text-left">@Model.konverterKoordinata(sadrzaj.GeografskaDuzina.Value)</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (sadrzaj.GeografskaSirina.HasValue)
                    {
                        <td class="text-left">@Model.konverterKoordinata(sadrzaj.GeografskaSirina.Value)</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td class="text-left">
                        
                        @foreach (var rv in sadrzaj.RadnoVrijeme)
                        {
                            string dan = "";
                            switch (rv.Dan)
                            {
                                case 1:
                                    dan = "pon";
                                    break;
                                case 2:
                                    dan = "uto";
                                    break;
                                case 3:
                                    dan = "sri";
                                    break;
                                case 4:
                                    dan = "čet";
                                    break;
                                case 5:
                                    dan = "pet";
                                    break;
                                case 6:
                                    dan = "sub";
                                    break;
                                case 7:
                                    dan = "ned";
                                    break;
                            }

                            <span>@dan @rv.VrijemePocetka.ToString(@"hh\:mm") - @rv.VrijemeZavrsetka.ToString(@"hh\:mm")</span>
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div>
    <h4>Poveznice na multimedijske sadržaje</h4>
    <ul>
        @foreach (var medij in @Model.Multimedija)
        {
            <li>
                <b>@medij.Naziv: </b> <a herf="@medij.Url" target="_blank">@medij.Url</a>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </span>
                <a asp-controller="Multimedija" asp-action="Edit" asp-route-id="@medij.Id"
                asp-route-odmoristeId="@Model.Id"
                >Uredi</a> |
                <a asp-controller="Multimedija" asp-action="Delete" asp-route-id="@medij.Id">Izbriši</a>
            </li>
        }
    </ul>
    <a asp-controller="Multimedija" asp-action="Create"
       asp-route-odmoristeId="@Model.Id">Dodaj novu poveznicu za ovo odmorište</a>
</div>

