@model Dionice

@{
    ViewBag.Title = "Ažuriranje dionice";
}

<form asp-route-id="@Model.Id"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OznakaAutoceste"></label>
        <div><span asp-validation-for="OznakaAutoceste" class="text-danger"></span></div>
        <select class="form-control" asp-for="OznakaAutoceste" asp-items="ViewBag.Autoceste">
            <option disabled selected value="">Odaberite oznaku autoceste</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="UlaznaPostaja"></label>
        <div><span asp-validation-for="UlaznaPostaja" class="text-danger"></span></div>
        <select class="form-control" asp-for="UlaznaPostaja" asp-items="ViewBag.NaplatnePostaje">
            <option disabled selected value="">Odaberite ulaznu naplatnu postaju</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IzlaznaPostaja"></label>
        <div><span asp-validation-for="IzlaznaPostaja" class="text-danger"></span></div>
        <select class="form-control" asp-for="IzlaznaPostaja" asp-items="ViewBag.NaplatnePostaje">
            <option disabled selected value="">Odaberite izlaznu naplatnu postaju</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DuljinaKm"></label>
        <div><span asp-validation-for="DuljinaKm" class="text-danger" /></div>
        <input asp-for="DuljinaKm" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>

</form>

@section scripts {
    <partial name="IncludeValidation" />
}