@model NaplatnaPostaja

@{
    ViewBag.Title = "Ažuriranje naplatne postaje";
}

<form asp-route-id="@Model.NaplatnaId"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Ime"></label>
        <div><span asp-validation-for="Ime" class="text-danger"/></div>
        <input asp-for="Ime" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GeoDuzina"></label>
        <div><span asp-validation-for="GeoDuzina" class="text-danger" /></div>
        <input asp-for="GeoDuzina" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GeoSirina"></label>
        <div><span asp-validation-for="GeoSirina" class="text-danger" /></div>
        <input asp-for="GeoSirina" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>

</form>

@section scripts {
    <partial name="IncludeValidation" />
}