@model IEnumerable<StavkaCjenikaViewModel>
<table class="table table-striped" id="table-stavke">
    <thead>
        <tr>
            @{
                        string[] nazivi = { "Izlaz", "Kategorija vozila IA", "Kategorija vozila I", " Kategorija vozila II", "Kategorija vozila III", "Kategorija vozila IV" };
                        for (int i = 0; i < nazivi.Length; i++)
                        {
                            <th>
                                @nazivi[i]
                            </th>
                        }
             }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stavka in Model)
        {
            <tr>
                <td class="text-left col-sm-4">
                    <input type="hidden" name="StavkeCjenika.Index" value="@stavka.IzlazID" />
                    <input type="hidden" name="StavkeCjenika[@stavka.IzlazID].IzlazID" value="@stavka.IzlazID" />
                    <input type="hidden" name="StavkeCjenika[@stavka.IzlazID].Ime" value="@stavka.Ime" />
                    <input name="StavkeCjenika[@stavka.IzlazID].GeoDuzina" value="@stavka.GeoDuzina" type="hidden" />
                    <input name="StavkeCjenika[@stavka.IzlazID].GeoSirina" value="@stavka.GeoSirina" type="hidden" />

                    @stavka.Ime
                </td>

              

                <td class="text-right col-sm-1">
                    <input name="StavkeCjenika[@stavka.IzlazID].cijenaIA" value="@stavka.cijenaIA" />
                    @stavka.formatCijena(stavka.cijenaIA)
                </td>

              

                <td class="text-right col-sm-1">
                    <input name="StavkeCjenika[@stavka.IzlazID].cijenaI" value="@stavka.cijenaI" />
                    @stavka.formatCijena(stavka.cijenaI)
                </td>

                <td class="text-right col-sm-1">
                    <input name="StavkeCjenika[@stavka.IzlazID].cijenaII" value="@stavka.cijenaII" />
                    @stavka.formatCijena(stavka.cijenaI)
                </td>

                <td class="text-right col-sm-1">
                    <input name="StavkeCjenika[@stavka.IzlazID].cijenaIII" value="@stavka.cijenaIII" />
                    @stavka.formatCijena(stavka.cijenaIII)
                </td>

                <td class="text-right col-sm-1">
                    <input name="StavkeCjenika[@stavka.IzlazID].cijenaIV" value="@stavka.cijenaIV" />
                    @stavka.formatCijena(stavka.cijenaIV)
                </td>

               
                <td>
                    <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fa fa-minus"></i></button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <input id="izlaz-sifra" type="hidden" data-autocomplete-placeholder="naplatnapostaja" readonly="readonly" />
                <input id="izlaz-ime" type="text" data-autocomplete="naplatnapostaja" />
                <input id="izlaz-geoduzina" type="hidden" data-autocomplete-placeholder-geoduzina="naplatnapostaja"/>
                <input id="izlaz-geosirina" type="hidden" data-autocomplete-placeholder-geosirina="naplatnapostaja" />
            </td>

            <td class="text-center col-sm-1">
                <input id="izlaz-cijenaIA" type="text" />
            </td>

            <td class="text-center col-sm-1">
                <input id="izlaz-cijenaI" type="text" />
            </td>

            <td class="text-center col-sm-1">
                <input id="izlaz-cijenaII" type="text" />
            </td>

            <td class="text-center col-sm-1">
                <input id="izlaz-cijenaIII" type="text" />
            </td>

            <td class="text-center col-sm-1">
                <input id="izlaz-cijenaIV" type="text" />
            </td>
            
            <td class="text-left" colspan="3">
                <button id="izlaz-dodaj" class="btn btn-sm btn-secondary" title="Dodaj"><i class="fas fa-plus"></i></button>
            </td>
        </tr>
    </tbody>
</table>